/* Add your CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #ffe4e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-bottom: 20px;
}

.btn {
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 12px 16px;
    background-color: #87ceeb;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #4682b4;
}

.objects-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    float: left;
    background-color: #20b2aa;
    color: #fff;
    width: 125px;
    height: 125px;
    line-height: 125px;
    text-align: center;
    margin: 10px;
    display: none;
    border-radius: 15px;
}

.show {
    display: block;
}
